* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.wrap {
    background-image: url('../img/background_img.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
 } 